.element__text {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: 0;
  align-items: center;
  padding-left: 21px;
  padding-right: 20px;
  height: 79px;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}