.popup__submit-button {
  background-color: #000;
  border: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  height: 50px;
  border-radius: 2px;
}

.popup__submit-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 1s linear;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__submit-button {
    font-size: 14px;
    line-height: 17px;
    height: 46px;
  }
}

